.dq-drag-item {
  box-sizing: border-box;
  border: var(--dq-item-border, 1px dashed #999);
}

.dq-drag-item .dq-drag-item {
  margin-inline-start: var(--dq-indent, 1rem);
}

.dq-drag-item--drag {
  position: absolute;
  background-color: var(--dq-drag-color, rgba(109, 216, 109, 1));
  z-index: var(--dq-drag-z-index, 1);
}

.dq-element {
  display: flow-root;
  pointer-events: none;
}

.dq-ghost-item {
  background-color: var(--dq-ghost-color, rgba(150, 150, 150, 1));
}